.headerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-image: url("../../assets/header.jpg");
    background-size: cover;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}
    
    .headerColDiv{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .imgHeaderDiv{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100px;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

        .headerAbout{
            display: flex;
            flex-direction: column;
            height: 100px;
            width: 100%;
            margin-top: 53px;
            transition: transform 250ms ease, box-shadow 250ms ease;
        }

            .headerAbout img{
                height: 100px;
                width: 100px;
            } 
            
            .headerAbout:hover{
                transform: translateY(-4px);
            }  

        .headerAbout{
            display: flex;
            flex-direction: column;
            height: 100px;
            width: 100%;
        }
        
        .headerAbout h2{
            font-family: var(--bodyFont);
            color: gray;
            position: relative;
            font-size: 16px;
            bottom: 70px;
        }

        .headerDev{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: fit-content;
            width: 100%;
            transition: transform 250ms ease, box-shadow 250ms ease;
            border: 1px solid gray;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 1);
            padding: 2px;
            padding-top: 4px;
            padding-bottom: 4px;
            cursor: pointer;
        }
        
        .headerDev:hover{
            transform: translateY(4px);
        }

            .headerDev h2{
                font-family: var(--bodyFont);
                font-size: 14px;
                color: rgba(255, 113, 78, 255);
                padding-left: 4px;
                text-align: start;
            }

            .headerDev img{
                height: 18px;
                width: 18px;
                margin-left: 2px;
                margin-right: 2px;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
            }

    .headerWorkDiv{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

        .headerCenter{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 60%;
            width: 100%;
        }

        .headerNav{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            height: 40%;
            width: 100%;
        }

        .btnNewRecipe {
            height: 31px;
        }

            .btnNewRecipe button{
                height: 100%;
                font-family: var(--gBtnFont);
                background: var(--gBtn);
                font-size: 18px;
                border: 1px solid gray;
                color: white;
                cursor: pointer;
                letter-spacing: 0.2px;
                transition: transform 250ms ease, box-shadow 250ms ease;
                padding: 5px;
                border-left: none;
            }
            
            .btnNewRecipe button:hover {
                transform: translateX(1px);
                background-color: var(--gBtnOver);
                box-shadow: 0 10px 34px 0 var(--gBtnShadow);
            }

            .headerNav2{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-end;
                height: 40%;
                width: 100%;
            }

@media only screen and (max-width: 670px) {

    .headerNav2{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 40%;
        width: 100%;
    }

    .headerSort {
        margin-bottom: 1px;
    }

    .headerFilter {
        margin-bottom: 1px;
    }

    .btnNewRecipe button{
        width: 214px;
        border: 1px solid gray;
    }

    .btnNewRecipe button:hover {
        transform: translateX(0px);
    }
}