.headerContainerFake {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-image: url("../../assets/header.jpg");
    background-size: cover;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}
    
    .headerColDivFake{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .imgHeaderDivFake{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100px;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .headerAboutFake{
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 100%;
        margin-top: 53px;
        transition: transform 250ms ease, box-shadow 250ms ease;
    }

        .headerAboutFake img{
            height: 100px;
            width: 100px;
        } 
        
        .headerAboutFake:hover{
            transform: translateY(-4px);
        }  

    .headerAboutFake{
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 100%;
    }
    
    .headerAboutFake h2{
        font-family: var(--bodyFont);
        color: gray;
        position: relative;
        font-size: 16px;
        bottom: 70px;
    }

    .headerDevFake{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
        transition: transform 250ms ease, box-shadow 250ms ease;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 1);
        padding: 2px;
        padding-top: 4px;
        padding-bottom: 4px;
        cursor: pointer;
    }

    .headerDev:hover{
        transform: translateY(4px);
    }

        .headerDevFake h2{
            font-family: var(--bodyFont);
            font-size: 14px;
            color: rgba(255, 113, 78, 255);
            padding-left: 4px;
            text-align: start;
        }

        .headerDevFake img{
            height: 18px;
            width: 18px;
            margin-left: 2px;
            margin-right: 2px;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
        }
