.aboutBackground {
    height: 100%;
    width: 100%;
    background: url("../../assets/landing_page.jpg") no-repeat center center fixed;
    background-size: cover;
}

.aboutDiv {
    position: relative;
    height: 100%;
    width: 100%;
}

.aboutFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: fit-content;
    width: 55%;
    background-color: rgba(136, 136, 136, 0.5);
    margin: auto;
    backdrop-filter: blur(2px);
    border-radius: 30px;
    border: 1px solid gray;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.6);
    padding: 22px;
    margin-top: 50px;
    margin-bottom: 50px;
}

    .aboutRow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 55px;
        width: 100%;
    }

        .aboutRow img {
            height: 50px;
            width: 50px;
            margin-bottom: 8px;
            margin-right: 10px;
            transition: transform 250ms ease, box-shadow 250ms ease;
        }

        .aboutRow img:hover {
            transform: translateY(-4px);
        }

        .aboutRow h1 {
            font-size: 35px;
            font-family: var(--headlinesFont);
            color: white;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
            margin-top: 8px;
        }

    .aboutFlex h2 {
        margin-top: 5px;
        font-size: 30px;
        font-family: var(--headlinesFont);
        color: white;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
    }

    .aboutFlex h3 {
        margin-top: 5px;
        font-size: 20px;
        font-family: var(--headlinesFont);
        color: white;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
    }

    .aboutFlex button{
        margin-top: 10px;
        height: 45px;
        width: 100px;
        font-family: var(--headlinesFont);
        background: var(--gBtnLandingAndNotFound);
        padding: 10px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 26px;
        cursor: pointer;
        letter-spacing: 0.2px;
        transition: transform 250ms ease, box-shadow 250ms ease;
        backdrop-filter: blur(2px);
    }
    
    .aboutFlex button:hover {
        background: var(--buttonCreate);
        transform: translateY(-3px);
        box-shadow: 0 10px 34px 0 var(--buttonShadow);
    }

    .aboutTechsDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .aboutTechsDiv h1{
        font-size: 26px;
        font-family: var(--bodyFont);
        color: white;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
    }

    .aboutTechs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

        .aboutTechs img{
            margin-right: 5px;
            height: 35px;
            width: fit-content;
            padding: 5px;
        }

        .aboutTechs h2{
            font-size: 24px;
            font-family: var(--bodyFont);
        }

        .aboutCreator{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            height: fit-content;
            background-color: rgba(0, 221, 255, 0.6);
            border-radius: 10px;
            padding: 30px;
            color: white;
            border: solid 1px gray;
            cursor: pointer;
            transition: transform 250ms ease, box-shadow 250ms ease;
        }

        .aboutCreator:hover{
            background-color: rgba(0, 255, 251, 0.6);
            transform: translateY(-4px);
        }

        .aboutCreator img{
            height: 40px;
            width: 40px;
        }

        .aboutCreator h1{
            font-family: var(--bodyFont);
            font-size: 30px;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
        }

        .aboutCreator h2{
            font-family: var(--bodyFont);
            font-size: 20px;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
        }

    @media only screen and (max-width: 600px) {      

        .aboutFlex h2 {
            font-size: 26px;
        }

        .aboutFlex h3 {
            font-size: 18px;
        }
    }




